@import "tailwindcss";

:root {
	--primary-100: #6c35de;
	--primary-200: #a364ff;
	--primary-300: #ffc7ff;
	--accent-100: #cb80ff;
	--accent-200: #373737;
	--text-100: #ffffff;
	--text-200: #e0e0e0;
	--bg-100: #241b35;
	--bg-200: #342a45;
	--bg-300: #4d425f;
}

body {
	font-family: "Quicksand", sans-serif;
}

@theme {
	--color-primary: var(--primary-100);
	--color-primary-200: var(--primary-200);
	--color-primary-300: var(--primary-300);
	--color-accent: var(--accent-100);
	--color-accent-200: var(--accent-200);
	--color-text-primary: var(--text-100);
	--color-text-primary-200: var(--text-200);
	--color-background-primary: var(--bg-100);
	--color-background-primary-200: var(--bg-200);
	--color-background-primary-300: var(--bg-300);
}
